@import "../leoPortfolio/node_modules/bootstrap/scss/bootstrap.scss";
/* apply to all HTML */
body {
font-family: 'Baloo Bhaina 2', cursive;
/* background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(236, 77, 77)); */
/* background-color: white; */

}


h2 {
    color: black;
}

h3 {
    color: black;
}

a {
    color: black;
}

p {
    line-height: 2em;
    color: black;
    text-align: justify;
}

#grayscale {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  border-radius: 40%;
  box-shadow: 10px 10px 5px grey;
}
 
main {
    border-style: hidden;
}

/* Sticky footer */
footer p {
color: white;

}

footer {
    border-style: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h3 i {
    color: rgb(54, 152, 212);
    margin-right: 10px;
}

a i {
    color: #0077b5;
    margin-left: 10px;
}

/* for Contact.html */

form {
    color: #17a2b8;
}


/* Letter motion effect  second p tag*/
.ml12 {
  color: black;
  font-weight: bolder;
}

/* .ml12 .letter {
  display: inline-block;
  line-height: 1em;
} */


img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}






