
/* apply to all HTML */
body {
font-family: 'Architects Daughter', cursive;
background-image: linear-gradient(to right, rgb(139, 205, 228), lightyellow);
}


h2 {
    color: black;
}

h3 {
    color: gray;
}

a {
    color: black;
}

p {
    line-height: 2em;
    color: grey;
}

#grayscale {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
  border-radius: 40%;
  box-shadow: 10px 10px 5px grey;
}
 
main {
    border-style: hidden;
}

/* Sticky footer */
footer p {
color: white;

}

footer {
    border-style: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

h2 i {
    color: red;
}

a i {
    color: #0077b5;
}

/* for Contact.html */

form {
    color: #17a2b8;
}

