
/* apply to all HTML */
body {
font-family: 'Baloo Bhaina 2', cursive;

background-image: url(./pattern-background-png-4.png); 
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h2 {
    color: black;
}

h3 {
    color: black;
}

a {
    color: black;
}

p {
    line-height: 1em;
    color: rgba(0, 0, 0, 0.473);
    text-align: end;
    font-size: 30px;
    font-family: Abel;
    
}

/* span {
  color: blue;
} */

#grayscale {
  
  border-radius: 40%;
  box-shadow: 10px 10px 5px lightgrey;
  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
#grayscale:hover {
filter: blur(0);
  -webkit-filter: blur();
}
 
main {
    border-style: hidden;
}

/* Sticky footer */
footer p {
color: white;

}
header {
  background: linear-gradient(-45deg, #006cfa36, #3a3c3d77, #d4e03281);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer {
    border-style: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

  background: linear-gradient(-45deg, #006cfa36, #3a3c3d77, #d4e03281);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3 i {
    color: rgb(54, 152, 212);
    margin-right: 10px;
}

a i {
    color: #0077b5;
    margin-left: 10px;
}

/* for Contact.html */

form {
    color: #17a2b8;
}


/* Letter motion effect  second p tag*/
.ml12 {
  color: black;
  font-weight: bolder;
  
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 1em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

hr {
  border: 1; 
  height: 2px; 
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
}






